.title {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  border-bottom: 10px solid black;
  margin-bottom: 15px;
}

.list-item-container {
  padding-left: 0;
}

.list-item-container li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.add-item-container {
  padding-left: 15px;
}

.change-all-row {
  margin-top: 15px;
}
